{sys, [
       {lib_dirs, ["../deps", "apps"]},
       {rel, "darklaunch", "0.1",
        [
         kernel,
         stdlib,
         sasl,
         darklaunch
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "darklaunch"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {excl_archive_filters, [".*"]},
       {app, sasl, [{incl_cond, include}]},
       {app, darklaunch, [{incl_cond, include}]},
       {app, runtime_tools, [{incl_cond, include}]}
      ]}.

{target_dir, "darklaunch"}.
{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "log/sasl"},
           {mkdir, "etc/keys"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/darklaunch", "bin/darklaunch"},
           {template, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"}
          ]}.
